body {
	background-color: #222;
	color: #fff;
	margin: 0 auto;
	font-family: 'Helvetica Neue', sans-serif;
	overflow-y: hidden;
}

#gif-container {
	height: 100vh;
}

.gif-img {
	width: 100%;
}

.soundcloud-player {
	position: absolute;
}

.static {
	background: url(https://media.giphy.com/media/PIbPrnuEpGEla/giphy.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}